/* .header  */
.header-wrapper {
  background-color: #011641;
}

.header-container .header-box .info-box a {
  border: 1px solid var(--white-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* responsive */
@media (max-width: 767px) {
  .header-wrapper {
    display: none;
  }
}
